---
layout: default
gallery: true
---
{%- assign fields = site.data.metadata-config -%}
<div class="container py-3">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ '/' | absolute_url }}">IWI</a></li>
        <li class="breadcrumb-item"><a href="{{ '/browse.html' | absolute_url }}">Women</a></li>
        <li class="breadcrumb-item active">{{ page.fullname | truncatewords: 10 }}</li>
    </ul>

    <h1>{{ page.fullname }}</h1>

    <div class="row">

        <div class="col-md-4" >
            <div class="card mb-2">
                <img src="{{ site.objects | append: '/' | append: page.image }}" alt="Image of {{ page.fullname }}" class="card-img-top">
                <div class="card-body">
                    <p class="card-text">
                        <strong>Born:</strong> {{ page.birth | date: '%B %e, %Y' }}, {{ page.birth_place }}.<br>
                        {% if page.death %}<strong>Died:</strong> {{ page.death | date: '%B %e, %Y' }}, {{ page.death_place }}.<br>{% endif %}
                        {% assign topics = page.keywords | split: ";" %}
                        {% for t in topics %}
                        <a class="btn btn-secondary m-1 filter" href="{{ t | strip | url_param_escape | prepend: '/browse.html#' | relative_url }}">{{ t | strip }}</a> 
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <p class="mb-2">
                {{ page.description }}
            </p>
        </div>

    </div>
    <div class="row">

        <div class="col-md-6">
            <div class="card mb-2">
                <div class="card-header">Resources</div>
                <div class="card-body">
                    {% assign resources = page.resources | split: "|" %}
                    <ul>
                    {% for r in resources %}
                        <li>{{ r }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-2">
                <div class="card-header">Source</div>
                <div class="card-body">
                    <dl>
                        <dt>Preferred Citation:</dt> 
                        <dd>{{ page.fullname }}, {{ site.title }}, Digital Initiatives, University of Idaho Library, {{ page.url | absolute_url }}</dd>
                        <dt>Record Contributor:</dt>
                        <dd>{{ page.contributor }}</dd>
                        <dt>Old IWI Link:</dt>
                        <dd>{{ page.oldlink }}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

{%- if site.browse-buttons == true -%}
{% assign last = site.data[site.metadata] | size | minus: 1 %}
{% unless page.index_number == 0 %}
{% assign back = page.index_number | minus: 1 %}
{% else %}
{% assign back = last %}
{%- endunless -%}
{% unless page.index_number == last %}
{% assign forward = page.index_number | plus: 1 %}
{% else %}
{% assign forward = 0 %}
{%- endunless -%}
{%- assign back_url = site.data[site.metadata][back].objectid | append: '.html' | prepend: '/women/' | relative_url -%}
{%- assign forward_url = site.data[site.metadata][forward].objectid | append: '.html' | prepend: '/women/' | relative_url -%}
    <div class="text-center">
        <a class="btn btn-secondary" href="{{ back_url }}" role="button" id="prev-page-button">&laquo; Previous</a>
        <a class="btn btn-secondary" href="{{ '/browse.html' | relative_url }}" role="button">| Back to browse |</a>
        <a class="btn btn-secondary" href="{{ forward_url }}" role="button" id="next-page-button">Next &raquo;</a>
    </div>
    <div id="item-nav">
        <div class="d-none d-md-block">
        <a class="previous bg-secondary text-white  btn btn-lg" href="{{ back_url }}" class="text-white">&laquo;</a>
        <a class="next bg-secondary text-white btn btn-lg" href="{{ forward_url }}" class="text-white">&raquo;</a>
        </div>
    </div>
{%- endif -%}     
</div>